html, body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: url(header-bg.png);
    height: 400px;
}

    .header h1 {
        text-align: center;
        margin: 0;
        padding-top: 150px;
    }